.home2 {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  /* background-image: linear-gradient(rgba(244, 245, 245, 1), rgba(244, 245, 245, 1)); */
  background-size: 100vw 92vh;
}
.first {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}

.head2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.subhead2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.header2 {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  color: white;
  font-weight: bolder;
  letter-spacing: -1.5px;
}

.subtext3 {
  margin-top: 7px;
}

.subtext3 p {
  text-align: center;
  font-weight: regular;
  font-size: 50px;
  line-height: 22px;
}

.button2 {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-radius: 10px;
  height: 45px;
  width: 190px;
  color: white;
  background-color: #ff1818;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(245, 1, 1, 0.3);
  z-index: 2;
}
.button2:hover {
  opacity: 70%;
}
.card1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 315px;
  width: 280px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.card2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 315px;
  width: 280px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.card3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 315px;
  width: 280px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.cards2 {
  display: flex;
  justify-content: space-between;
  margin-left: 175px;
  margin-right: 175px;
  align-items: center;
  gap: 50px;
}
.c1 {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.ct1 {
  margin-top: 11px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: regular;
}
.c2 {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.ct2 {
  margin-top: 11px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: regular;
}
.c3 {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.ct3 {
  margin-top: 11px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: regular;
}
.colort {
  color: #6d7885;
}
.image2z3 {
  width: 245px;
  height: 245px;
  position: absolute;
  display: flex;
  margin-top: 10px;
  margin-left: 90px;
}
.image2z2 {
  width: 245px;
  height: 245px;
  position: absolute;
  display: flex;
  margin-top: 10px;
  margin-left: 80px;
}
.image2z1 {
  width: 245px;
  height: 245px;
  position: absolute;
  display: flex;
  margin-top: 0px;
  margin-left: 90px;
}
.illustrations {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 130px;
  margin-left: 125px;
  margin-top: 250px;
}
.ibulb {
  width: 200px;
  height: 200px;
}
.ilamp {
  width: 200px;
  height: 200px;
}

.iachieve {
  width: 200px;
  height: 200px;
}
.line {
  height: 3px;
  width: 100vw;
  background-color: #d9d9d9;
  align-items: center;
  position: absolute;
  justify-content: center;
  z-index: 1;
}
